<h1>Homes#top</h1>
<div class ="container">
    <div class = "row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1>welcome to <i class="fa-solid fa-book"><strong> Bookers !!</strong></i></h1>
            <p>you can share and exchange your opinions , inpressions , and emotions</p>
            <p>about various books!</p>
    <li>
    <%= link_to " Sine Up", new_user_registration_path %>
    </li>
    <li>
    <%= link_to "Log in", new_user_session_path %>
    </li>